<div class="table-responsive about">
    <table>
        <tr>
            <td><img src="assets/images/market-analysis.png"></td>
            
            <td>
                <h1 style="font-family: sans-serif;">Welcome to E-Stock Market</h1>
                <br><br>
                <h4 style="font-family: serif;">We are..........<br>.....................<br>.....................</h4>
                <h3 style="font-family: Georgia">Contact us:</h3>
                
                <h5>&nbsp;
                    <i class="fa fa-mobile-phone" style="font-size:18px">&nbsp;: +91 XXXXXXXXXX</i>
                    <br>
                    <i class="fa fa-envelope" style="font-size:18px">:
                        <a href="mailto://customersupport@esm.com"> customersupport@esm.com</a>
                    </i>
                    <br><br>

                    <h3 style="font-family: Trebuchet MS;">Follow us at:</h3>
                    <a href="https://facebook.com" target="blank">
                        <i class="fa fa-facebook-f" style="font-size:24px"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://instagram.com" target="blank">
                        <i class="fa fa-instagram" style="font-size:24px; color: red;"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://twitter.com" target="blank">
                        <i class="fa fa-twitter" style="font-size:24px; color: rgb(0, 195, 255);"></i>
                    </a>
                </h5>
            </td>
            
        </tr>
    </table>
</div>